BasedOnStyle: LLVM

Language: Cpp

IndentWidth: 4
UseTab: Never
ColumnLimit: 90

# Open and close scope on new line
BreakBeforeBraces: Allman

# Calls: allow multiple arguments per line (when wrapping)
BinPackArguments: true
AllowAllArgumentsOnNextLine: true

# Decls/Defs: one parameter per line when wrapping
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: true

# Initializer lists: one parameter per line when wrapping
ConstructorInitializerAllOnOneLineOrOnePerLine: true
