# Clion specific

cmake-build-*/
.idea/

# VS Code specific

build/
.vscode/

# Vim specific (clangd)

.cache/
.clangd/
compile_commands.json

# profiler

profiler/

# autotools
Makefile.in
aclocal.m4
autodir/
autom4te.cache/
config.h.in
config.h.in~
configure
