# Clion specific
cmake-build-*/
.idea/

# VS Code specific
build/
.vscode/

# Clangd
.cache/
.clangd/
compile_commands.json

# profiler
profiler/

# direnv
.envrc
.direnv/

# Nix build output
result

# VCpkg
vcpkg_installed/