name: autotools CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      run: sudo apt-get install nlohmann-json3-dev libeigen3-dev
    - name: autoconf
      run: make -f Makefile.dist
    - name: mkdir build
      run: mkdir build
    - name: configure
      run: cd build && ../configure
    - name: make
      run: cd build && make
    - name: make check
      run: cd build && make check
