name: cmake CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      run: sudo apt-get install nlohmann-json3-dev libeigen3-dev
    - name: mkdir build
      run: mkdir build
    - name: cmake
      run: cd build && cmake ..
    - name: make
      run: cd build && make
    - name: make test
      run: cd build && make test
