name: CMake

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
    - name: Load CI build environment
      run: nix develop .#ci
    - name: CMake generate 
      run: cmake -DCMAKE_BUILD_TYPE=Release -B build
    - name: CMake build
      run: cmake --build build -- -j $(nproc)
    - name: CTest
      run: ctest --test-dir build/tests
