name: Coverage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Test:
    runs-on: ubuntu-22.04

    permissions: read-all

    steps:
    - uses: actions/checkout@v2
    - name: Install native dependencies
      run: sudo apt-get install cmake nlohmann-json3-dev libeigen3-dev python3-pip
    - name: Install pip packages
      run: pip install pycobertura gcovr
    - name: CMake generate
      run: cmake -Dcoverage=ON -DCMAKE_BUILD_TYPE=Debug -B build
    - name: CMake build
      run: cmake --build build --target coverage -- -j $(nproc)
    - name: Show cobertura report
      run: pycobertura show build/coverage.xml --format markdown
    - name: Upload cobertura report
      if: github.event_name == 'push'
      uses: actions/upload-artifact@v3
      with:
        name: coverage_report
        path: build/coverage.xml
    - name: Upload source code
      if: github.event_name == 'push'
      uses: actions/upload-artifact@v3
      with:
        name: source_code
        path: |
          source
          LoKI-B
    - name: Retrieve cobertura report
      if: github.event_name == 'pull_request'
      uses: dawidd6/action-download-artifact@v2
      with:
        github_token: ${{ github.token }}
        workflow_conclusion: success
        branch: coverage
        path: coverage-old
        name: coverage_report
    - name: Retrieve old source
      if: github.event_name == 'pull_request'
      uses: dawidd6/action-download-artifact@v2
      with:
        github_token: ${{ github.token }}
        workflow_conclusion: success
        branch: coverage
        path: source-old
        name: source_code
    # - name: Retrieve cobertura report
    #   if: github.event_name == 'pull_request'
    #   uses: actions/download-artifact@v3
    #   with:
    #     name: coverage_report
    #     path: coverage-old
    # - name: Retrieve old source
    #   if: github.event_name == 'pull_request'
    #   uses: actions/download-artifact@v3
    #   with:
    #     name: source_code
    #     path: source-old
    - name: Inspect artifacts
      if: github.event_name == 'pull_request'
      run: ls -R
    - name: Create coverage diff
      if: github.event_name == 'pull_request'
      run: pycobertura diff coverage-old/coverage.xml build/coverage.xml --source1 source-old --source2 . --format markdown --output coverage.md
    - name: Show coverage diff
      if: github.event_name == 'pull_request'
      run: cat coverage.md
