name: Coverage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Test:
    runs-on: ubuntu-22.04

    if: github.event.pull_request.draft == false

    permissions:
      contents: read
      actions: write
      pull-requests: write

    steps:
    - uses: actions/checkout@v2
    - name: Install native dependencies
      run: sudo apt-get install cmake nlohmann-json3-dev libeigen3-dev python3-pip
    - name: Install pip packages
      run: pip install gcovr
    - name: CMake generate
      run: cmake -Dcoverage=ON -DCMAKE_BUILD_TYPE=Debug -B build
    - name: CMake build
      run: cmake --build build --target coverage -- -j $(nproc)
    - name: Upload coverage report to Codecov
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        file: build/coverage.xml
        fail_ci_if_error: true
