name: Coverage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [ opened, reopened, synchronize, ready_for_review ]

jobs:
  Test:
    runs-on: ubuntu-22.04

    if: github.event.pull_request.draft == false

    permissions:
      contents: read
      actions: write
      pull-requests: write

    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
    - name: Build coverage report
      run: nix build .#coverage
    - name: Upload coverage report to Codecov
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        file: result/coverage.xml
        fail_ci_if_error: true
